body {
    background-color: #111111;
    font-family: sans-serif;
    color: #ffffff;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
:link {
    color: #87cefa;
}
:visited {
    color: #88c;
}
::selection {
    background-color: #3399ff;
    color: #ffffff;
}
main {
    width: 50%;
    margin: 0 auto;
}
main p {
    text-align: left;
}
