body {
  font-family: monospace;
  background-image: url("wall.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.container {
  text-align: center;
}
